/* Assignment 1.1 */
.box1{
    width: 300px;
    margin: 20px auto;
    border: 1px solid lightgray;
    background-color: #46d89eb9;
    padding: 50px;
    border-radius: 10px;

}

.fontsize{
    font-size: 12px;
}

.btn{
    border-radius: 14px;
    border: none;
    padding: 5px 20px;
}


/* Assignment 1.2 */
.box2{
    width: 400px;
    margin: 20px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.box2-body{
    padding: 20px;
}

.heading{
    font-weight: bold;
}
.color{
    color: gray;
}
.boxinbox{
    padding-left: 20px;
    width: auto;
    margin: auto auto;
    border:  1px solid lightgray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    color: blue;
}

.box-img{
    width:50px;
    padding: 20px;
    border-radius: 100%;
}


/* Assignment 1.3 */
.box3{
    width: 320px;
    margin: 50px auto;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.box3-img{
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.box3-body{
    padding: 20px;
}
.size{
    font-size: 20px;
}
.btn2{
    background-color: white;
    padding: 5px 20px;
    border-radius: 7px;
    color: rgb(103, 103, 238);
}  

/* Assignment 1.4 */
.box4{
    text-align: center;
    padding: 12px;
    width: 300px;
    margin: 80px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
}
.btn3{
    background-color: black;
    font-size: 16px;
    padding: 16px;
    border: none;
    color: white;
    border-radius: 30px;
    width: 80%;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
a{
    color: black;
}

.footer{
    font-size: 10px;
}
